// Fuentes
$fuente_principal:'Open Sans', sans-serif;

// Tamaño de los mq
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//separacion
$separacion: 5rem;

//colores
$bordo: #bd0101;
$bordo-rgba: #bd010181;
$negro: #000000;
$blanco: #ffffff;
$gris: rgb(197, 197, 197);

//Tamaño fuentes
$fina: 300;
$normal: 400;
$bold: 700;
$black: 800;