.header {
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include tablet {
    height: 70vh;
  }

  .header-title {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 5%;
    color: $blanco;
    animation: inicio-mobile 0.5s linear;
    @include tablet {
      top: 30%;
      width: 40%;
      animation: inicio 0.5s linear;
    }
    h1 {
      font-size: 5rem;
      text-transform: uppercase;
      line-height: 7rem;
      @include tablet {
        font-size: 8rem;
        line-height: 8rem;
      }
      @include desktop {
        font-size: 9rem;
        line-height: 9rem;
      }
    }
  }
}

@keyframes inicio {
  0% {
    opacity: 0;
    top: 35%;
  }

  100% {
    opacity: 1;
    top: 30%;
  }
}
@keyframes inicio-mobile {
  0% {
    opacity: 0;
    top: 30%;
  }

  100% {
    opacity: 1;
    top: 20%;
  }
}
